{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<title>Home</title>
	{% endblock %}
</head>
<body>
	{% block body %}
      <div class="container">
        <div class="row justify-content-md-center">
          <h1 class="display-4 mt-5">Hello World</h1>           
             <canvas id="webglcanvas"></canvas>
        <div id="p5_loading" class="p5_loading">
          <div class="p5_loading__inner">
            <span></span>
          </div>
        </div>
        <div id="uploading-animation" class="p5_loading">
          <div class="p5_loading__inner">
            <span></span>
          </div>
        </div>

        </div>
        <div class="float-right" id="chat-container" >
        <div id="chat-input">
        <div id="file-input"></div>
        </div>
        </div>
      </div>  
        
      </div>
    </div>
    {% endblock %}
</body>
</html>
