{% extends 'base.html' %}

	{% block head %}
	<title>Support</title>
	{% endblock %}

	{% block body %}

<!-- navigation menu -->
  <div class="page-title">
      <div class="container">
        <div class="column">
          <h1>Login / Register Account</h1>
        </div>
        <div class="column">
          <ul class="breadcrumbs">
            <li><a href="#">Home</a>
            </li>
            <li class="separator">&nbsp;&gt;&nbsp;</li>
            <li><a href="">Account</a>
            </li>
            <li class="separator">&nbsp;&gt;&nbsp;</li>
            <li>Login / Register</li>
          </ul>
        </div>
      </div>
    </div>


  <!-- page content -->



  
  {% endblock %}


